body{
    color: var(--text);
    --font: 'Pixel', 'Arial';
    background-color: var(--bg);
}

#wrapper{
    display: flex;
    margin: auto;
    height: 100%;
    width: min(1024px, 100%);
    flex-direction: column;
}

#side{
    flex-basis: 8rem;

    #headerbg {
        height: 100%;
        width: 100%;

        .titlebv {
            background-image: url('../images/runictitle-bv.png');
        }

        .titlewv {
            background-image: url('../images/runictitle-wv.png');
        }

        .titlebh {
            background-image: url('../images/runictitle-bh.png');
        }

        .titlewh {
            background-image: url('../images/runictitle-wh.png');
        }

        .titlebv, .titlewv, .titlebh, .titlewh {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            a{
                display: flex;
                height: 100%;
            }
        }
    }
}
#main{
    margin: 1rem;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

.expand{
    overflow: hidden;
    max-height: 3.5rem;
    display: flex;
    flex-direction: column;
    transition: max-height 0.4s ease-in-out;

    h1{
        position: relative;
        left: 1rem;
    }

    .expander{
        height: 100px;
        transition: max-height 0.4s ease-in-out;
    }
}
.expand:hover{
    max-height: 8rem;
    .expander{
        height: 100px;
    }
}
.bg{
    background-size: cover;
}