body{
    color: var(--text);
    --font: 'Pixel', 'Arial';
    background-color: var(--bg);
}

#wrapper{
    display: flex;
    margin: auto;
    height: 100%;
    width: min(1024px, 100%);

    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
}

#side{
    flex-basis: 150px;

    #headerbg {
        height: 100%;
        width: 100%;

        .titlebv {
            background-image: url('../images/runictitle-bv.png');
        }

        .titlewv {
            background-image: url('../images/runictitle-wv.png');
        }

        .titlebh {
            background-image: url('../images/runictitle-bh.png');
        }

        .titlewh {
            background-image: url('../images/runictitle-wh.png');
        }

        .titlebv, .titlewv, .titlebh, .titlewh {
            @media screen and (min-width: 700px) {
            position: sticky;
        }
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            a{
                display: flex;
                height: 100%;
            }
        }
    }
}
#main{
    margin: 1rem;
    flex: 1 0 auto;
    flex-wrap: wrap;
}