:root{
    --font: 'Arial';
    --text: #000;
    --mute: #000;
    --bg: #000;
}

@font-face{
    font-family: 'Raindondo';
    src: url('../fonts/Raindondo.otf');
}
@font-face{
    font-family: 'RW-Dialogue';
    src: url('../fonts/rain-world-menu-font-webfont.otf.woff2');
}
@font-face{
    font-family: 'Pixel';
    src: url('../fonts/PixeloidSans.ttf');
    font-weight: normal;
}
@font-face{
    font-family: 'Pixel';
    src: url('../fonts/PixeloidSans-Bold.ttf');
    font-weight: bold;
}

body{
    font-family: var(--font), serif;
    height: 100dvh;
    font-size: 1rem; /*1 is too small*/
    margin: auto;
    display: flex;

    h1, h2{
        margin: 1rem 0 0 0;
    }
    p{
        margin: 0.25rem 0 0 0;
    }

    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
}

.m {
    margin: 0;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.mute{
    color: var(--mute);
}

/*some links that go offsite*/
.linkoff::after{
    content: "↗";
}

*.unselectable {
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.flex{
    display: flex;
}
.grow{
    flex: 1 0 auto;
}

.user:before{
    content: 'user:';
    color: var(--bg);
    background-color: var(--mute);
    border-radius: .25rem;
    margin-right: .05rem;
    font-size: small;
    text-align: center;
    padding: 3.375px;
}