body{
    --text: #ffffff;
    --mute: #4e5159;
}

#headerbg{
    background-image: url('../../images/blackstatic.gif'); /*https://tenor.com/view/static-dark-background-black-and-white-horror-gif-537857989342745980*/
    background-size: cover;
    animation: loop 10s linear infinite;
}

@keyframes loop {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -500px -500px; /* Moves 500px horizontally. Adjust to your image size */
    }
}