body{
    color: var(--text);
    font-family: 'FreePixel', 'Arial';
    background-color: var(--bg);
    align-items: center;
}

#wr{
    height: 100%;
    display: grid;
    width: min(1024px, 95%);
    margin: auto;

    @media (width > 700px){
        align-items: center;
        grid-template-columns: 150px auto;
        column-gap: 20px;
        #side, #main{
            height: 95%;
        }
    }
    @media (width <= 700px){
        grid-template-rows: 100px auto;
        #main{
            margin-top: 40px;
        }
    }

    #headerbg {
        height: 100%;
        width: 100%;

        .titlebv {
            background-image: url('../images/runictitle-bv.png');
        }

        .titlewv {
            background-image: url('../images/runictitle-wv.png');
        }

        .titlebh {
            background-image: url('../images/runictitle-bh.png');
        }

        .titlewh {
            background-image: url('../images/runictitle-wh.png');
        }

        .titlebv, .titlewv, .titlebh, .titlewh {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            a{
                display: flex;
                height: 100%;
            }
        }
    }
}

#themeswitcher{
    width: 100%;

    #themebutton{
        background-size: contain;
        height: 2rem;
        width: 2rem;
    }

    .dark{
        background-image: url('../images/ripplecat.gif');
    }
    .light{
        background-image: url('../images/voidcat.gif');
    }
}


/*
#wr{
    div {
        border: 1px solid;
    }
    p{
        border: 1px solid yellow;
    }

    background-color: indianred;
}
#side{
    background-color: darkseagreen;
}
#main{
    background-color: cornflowerblue;
}