body{
    margin: 0;
    background-color: #000000;
    color: whitesmoke;
}

nav{
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    
    background-color: #665bcc;
    color: whitesmoke;
}

nav #logo{
    font-weight: bold;]
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.content-frame {
    width: 100%;
    height: calc(100vh - 48px); /* Fills screen minus navbar height */
    border: none;
}