:root{
    --bg-gradient: linear-gradient(#000000, #0e0513, #150822);
    --footer-gradient: linear-gradient(#000000, #0c0410, #0f0519, transparent);
    --nav-mobile-gradient: linear-gradient(transparent, #000000);
    --border: #3f2767;
    --dark-border: #221537;
    --text: white;
    --green-grad: linear-gradient(#c8ffea, #6ad851);
    --purple-grad: linear-gradient(#acceff, #935dd3);
}

body{
    color: var(--text);
    background-image: var(--bg-gradient);
    font-family: 'FreePixel', sans-serif;
    font-size: 1.05rem;
}

@font-face{
    font-family: 'Raindondo';
    src: url('fonts/Raindondo.otf') ;
}
@font-face{
    font-family: 'RW-Dialogue';
    src: url('fonts/rain-world-menu-font-webfont.otf.woff2');
}
@font-face{
    font-family: 'FreePixel';
    src: url('fonts/FreePixel.ttf');
}

/* Old main title gimmick with overlapping text
.maintitle-parent{
    position: relative;
    text-align: center;
    color: #313147;
    font-size:9vmin;
    font-weight: bold;
    font-family: nimbus-font;
    letter-spacing: 2px;
}
.maintitle-child{
    position: absolute;
    text-align: center;
    top: 45px;
    width: 100%;
    color:#e8e0ff;
}
*/

@media only screen and (min-width: 1024px) {
    #nav-container{
        background-color: black;
    }
    #header{
        border-bottom: 1px solid var(--border);
    }
}
@media only screen and (max-width: 1023px) {
    #nav-container{
        background-image: var(--nav-mobile-gradient);
    }
    #nav-chat{
        border: 1px solid var(--dark-border);
    }
}

#footer{
    border-top: 1px solid var(--border);
    background-image: var(--footer-gradient);
}
#footer-content{
    background-image: url('images/water_bubbles.png');
    background-repeat: repeat;
}

.player{
    border: #595788 3px solid;
    aspect-ratio: 16 / 9;
}
.player:hover{
    border: #6d8f8a 3px solid;
}


.center{
    text-align: center;
}
.header2{
    background-image: var(--green-grad);
    color: transparent;
    background-clip: text;
}
.header{
    background-image: var(--purple-grad);
    color: transparent;
    background-clip: text;
}
h1{
    margin: 5px;
}
b {
    color: #d9c5ff;
}

a {
    color: #e5e2ff;
}
a:hover{
    color: #c3ffe1;
}

.mute{
    color: #717171;
}
.dialogue{
    font-family: 'RW-Dialogue', sans-serif;
    background-color: black;
    padding: 10px 10px 5px 10px;
    display: inline-block;

    border: 3px solid white;
    border-radius: 10px;
    color: white;
}
.dialogue-simple{
    font-family: 'RW-Dialogue', sans-serif;
    display: inline-block;

    font-size: .85rem;
    color: white;
}

/*(TEMP) SPOILER TEXT*/
.spoiler{
    background-color: gray;
    color: transparent;
    user-select: none;
}
.spoiler:hover{
    background-color: inherit;
    color: inherit;
}