@font-face{
    font-family: 'Raindondo';
    src: url('fonts/Raindondo.otf') ;
}
@font-face{
    font-family: 'RW-Dialogue';
    src: url('fonts/rain-world-menu-font-webfont.otf.woff2');
}
@font-face{
    font-family: 'FreePixel';
    src: url('fonts/FreePixel.ttf');
}

.site{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    
    font-family: 'FreePixel';
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 2.2dvh;
}

.center{
    text-align: center;
}

.maintitle-parent{
    position: relative;
    text-align: center;
    color: #313147;
    font-size:9vmin;
    font-weight: bold;
    font-family: nimbus-font;
    letter-spacing: 2px;
}
.maintitle-child{
    position: absolute;
    text-align: center;
    top: 45px;
    width: 100%;
    color:#e8e0ff;
}

/*temp spoiler implementation*/
.spoiler{
    background-color: gray;
    color: transparent;
    user-select: none;
}
.spoiler:hover{
    background-color: inherit;
    color: inherit;
}

.header{
    background-image: linear-gradient(#acceff, #935dd3);
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 3dvh;
}

.player{
    border: #595788 3px solid;
    padding: 10px;
    aspect-ratio: 16 / 9;
    width: 60%;
}
.player:hover{
    border: #6d8f8a 3px solid;
}

b {
    color: #9792b1;
}
.mute{
    color: #717171;
}
