/*PHONE*/
@media only screen and (max-width: 1030px){
    nav{
        text-align: center;
    }
}
/*DESKTOP*/
@media only screen and (min-width: 1031px){
    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
    }
}
nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    background-color: #000000;
    border: #3f2767 solid 1px;
}

nav a{
    padding: 3px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}
nav a:hover{
    background-color: #0e0c19;
}

nav p{
    margin: 0;
}

/*STATUSCAFE*/
#statuscafe {
    padding: .5em;
    margin: .5em;
    background-color: #000000;
    border: 1px solid #70639e;
    color: white;
    height: 80px;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}