/*PHONE*/
@media only screen and (max-width: 1130px){
    nav{
        text-align: center;
        align-items: center;
    }
    #statuscafe{
        width: 90%;
    }
    #chat-container{
        width: 90%;
        height: 450px;
    }
}
/*DESKTOP*/
@media only screen and (min-width: 1131px){
    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    }
    #statuscafe{
        height: 100px;
        width: 125px;
    }
    #chat-container{
        max-width: 180px;
        height: 350px;
        display: block;
    }
}
nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    background-color: #000000;
    border: #3f2767 solid 1px;
}

nav a{
    padding: 3px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}
nav a:hover{
    background-color: #0e0c19;
}

nav p{
    margin: 0;
}

/*STATUSCAFE*/
#statuscafe {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: .5em;
    margin: .5em;
    background-color: #000000;
    border: 1px solid #70639e;
    color: white;
    overflow: auto;
}
#statuscafe-username {
    color: #585761;
}
#statuscafe-content {
}

/*CHATBOX*/
#chat-container{
    border: 1px solid #70639e;
}